/*-----------------Color Scheme-----------------------
terra cotta #E07A5F
deep slate blue #3D405B */

/******************* Site Wide ****************************/

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

/****************** Header *******************************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: #3D405B;
}

/************************** Hamburger Navigation ******************/
.hamburger {
    background: none;
    border: none;
    color: #3D405B;
    cursor: pointer;
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00D7";
}

/*************************** Navigation Menu ************************/

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    display: flex;
}

nav a {
    color: #3D405B;
}